<md-content ng-controller="recipeController" class="aj-more-space-sides">
	<div flex layout="column">
		<md-card>
			<md-card-header layout="row">
				<md-card-header-text>
					<span ng-hide="editing" class="md-title">{{recipe.name}}</span>
					<span ng-hide="editing" class="md-subhead">By: {{usernames[recipe.authorId-1]['name']}}</span>
					<md-input-container ng-show="editing">
						<input ng-model="recipe.name" aria-label="title"/>
					</md-input-container>
				</md-card-header-text>
				<md-button ng-hide="editing" class="aj-no-margin" aria-label="edit" ng-click="editRecipe(true)">
					<ng-md-icon icon="edit" size="26"></ng-md-icon>
				</md-button>
				<md-button ng-show="editing" class="aj-no-margin" aria-label="done" ng-click="editRecipe(false)">
					<ng-md-icon icon="done" size="26"></ng-md-icon>
				</md-button>
			</md-card-header>
			<div ng-show="editing" ngf-select ng-model="file" class="aj-drop-box" ngf-multiple="false" accept="image/*" ngf-pattern="'image/*'">
				{{uploadStatus}}
			</div>
			<img ng-hide="editing" ng-src="{{recipe.image === null?  '' : ('/images/' + recipe.image)}}" class="md-card-image">
			<md-card-content layout="row">
				<md-input-container ng-if="editing" flex>
					<textarea ng-model="recipe.freetext" aria-label="freetext" flex></textarea>
				</md-input-container>
				<p ng-hide="editing">{{recipe.freetext}}</p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="start center">
				<md-button ng-hide="editing" ng-repeat="item in recipe.tags">{{item}}</md-button>
				<md-chips ng-if="editing" ng-model="recipe.tags">
					<md-chip-template>
						<strong>{{$chip}}</strong>
					</md-chip-template>
				</md-chips>
			</md-card-actions>
		</md-card>

		<md-card ng-repeat="comment in comments">
			<md-card-header layout="row">
				<md-card-header-text>
					<span class="md-subhead">#{{comment.id}} {{usernames[comment.authorId-1]['name']}}</span>
					<p style="margin-bottom: 0">{{comment.freetext}}</p>
				</md-card-header-text>
			</md-card-header>
		</md-card>

		<md-card>
			<form name="commentForm">
				<md-card-header layout="row">
					<md-card-header-text>
						<span class="md-title">Write a comment</span>
						<md-input-container class="aj-no-space">
							<textarea name="commentArea" ng-model="comment" aria-label="comment" required></textarea>
						</md-input-container>
					</md-card-header-text>
					<md-button class="aj-no-margin" aria-label="send" ng-click="sendComment()" ng-disabled="!commentForm.$valid" type="submit">
						<ng-md-icon icon="send" size="26"></ng-md-icon>
					</md-button>
				</md-card-header>
			</form>
		</md-card>
	</div>
</md-content>