<md-content ng-controller="recipeController" class="aj-more-space-sides">
	<div flex layout="column">
		<md-card>
			<md-card-header layout="row">
				<md-card-header-text>
					<span class="md-title">{{recipe.name}}</span>
					<span class="md-subhead">By: {{usernames[recipe.authorId-1]['name']}}</span>
				</md-card-header-text>
				<md-button class="aj-no-margin" aria-label="edit" ng-click="editRecipe(true)">
					<ng-md-icon icon="edit" size="26"></ng-md-icon>
				</md-button>
			</md-card-header>
			<div ngf-select ng-model="file" class="aj-drop-box" ngf-multiple="false" accept="image/*" ngf-pattern="'image/*'">
				{{uploadStatus}}
			</div>
			<img ng-src="/images/{{recipe.image}}" class="md-card-image">
			<md-card-content>
				<p>{{recipe.freetext}}</p>
			</md-card-content>
			<md-card-actions layout="row" layout-align="start center">
				<md-button ng-repeat="item in recipe.tags">{{item}}</md-button>
			</md-card-actions>
		</md-card>
	</div>
</md-content>