.aj-space-left {
	padding-left: $space;
}

.aj-more-space-left {
	padding-left: $more-space;
}

.aj-space-right {
	padding-right: $space;
}

.aj-more-space-right {
	padding-right: $more-space;
}

.aj-space-sides {
	padding-left: $space;
	padding-right: $space;
}

.aj-more-space-sides {
	padding-left: $more-space;
	padding-right: $more-space;
}

.aj-no-margin {
	margin: 0;
}

.aj-no-space {
	margin: 0;
	padding: 0;
}

.aj-unselectable {
	outline: none;
}

.aj-list-item-darker {
	background-color: rgba(160,160,160,0.12);
}

.aj-list-item-lighter {
	background-color: rgba(160,160,160,0.03);
}

.aj-drop-box {
	background: #F8F8F8;
	border: 5px dashed #DDD;
	width: 400px;
	height: 65px;
	text-align: center;
	padding-top: 45px;
	margin: 10px;
	cursor: pointer;
}

#search-field {
	width: 160px;
	box-sizing: border-box;
	border: 1px solid rgb(204, 204, 204);
	border-radius: 2px;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
}

#user-text {
	margin: 18px 0;
}